[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/aribagit
[access "refs/for/refs/*"]
	read = group user/aribagit
	push = group user/aribagit
	label-Code-Review = -2..+2 group user/aribagit
	label-Verified = -1..+1 group user/aribagit
	rebase = group user/aribagit
	removeReviewer = group user/aribagit
	submit = group user/aribagit
[access "refs/heads/*"]
	read = group user/aribagit
	create = group user/aribagit
	push = +force group user/aribagit
	pushMerge = group user/aribagit
[access "refs/tags/*"]
	push = group user/aribagit
	push = +force group user/aribagit
[project]
	description = Aribatest1
